body{
    background-image:linear-gradient(0deg, rgba(255,255,255,.65),rgba(255,255,255,.65)),url('images/background-desktopv2.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}


div{
    font-family: poppins;
}

:root {
    --clr-accent: hsl(27, 90%, 50%);
    --clr-accent-light: hsl(27, 90%, 57%);
    --clr-black: hsl(0, 0%, 15%);
    --clr-white: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background-color: var(--clr-white);
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

ul, ol {
    padding: 0;
}

.first-name{
    width: 250px;
    height: 30px;
    border-color: grey;
    border-style: solid;
    font-family: poppins;
}
.Email{

    display: block;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border-color: grey;
    border-style: solid;
    font-family: poppins;

}
.button-b{
    display: block;
    margin-top: 10px;
    width: 258px;
    height: 38px;
    border-radius: 50vh;
    border-color: grey;
    border-style: solid;
    background-color:hsl(27,90%,50%);
    color: black;
    font-size: larger;
    font-family: Poppins;
    border-style: none;
    font-style: bold;
}
.button-b:hover{
    opacity: 0.8;
    cursor: pointer;
}
 
.center {
    margin: 10em auto;
    /* width: 50vh; */
    width: max-content;
    /* height: 60vh; */
    border: 3px solid black;
    padding: 20px;
    /* justify-content: center; */
    height: 53vh;
    background-color: rgba(255,255,255,.8);
    display: grid;
    place-items: center;
    border-radius:5px;
  }
.title{
    text-align: center;
    font-style: bold;
}

form {
    width: max-content;
}


.ikona{
    margin: 0 auto;
    width: 88px;
    height: 88px;

    display: grid;
    place-items: center;
    
}

.ikona span {
    margin: 0 auto;
    font-size: 75px;
    }



    .nav {
        display: flex;
        justify-content: space-between;
    
        padding: 3em 5em 0 5em;
    }
    
    .logo {
        width: 54px;
        height: 54px;
    }
    
    .nav--list {
        display: flex;
        gap: 2.25em;
    }
    
    .nav--list__item a {
        display: flex;
        color: var(--clr-black);
    }
    .nav--list__item a:hover {
        color: var(--clr-accent);
    }
    .dropdown {
        display: none;
        position: absolute;
    }
    .dropdown li {
        /* background-color: rgba(255, 255, 255, 0.2); */
        text-shadow: 1px 1px 3px white;
        padding-block: 0.2em;
    }
    .dropdown li a:hover {
        color: var(--clr-accent);
    }
    .drop:hover .dropdown{
        display: block;
    
        /* box-shadow: 1px 1px 5px white; */
    }







