:root {
    --clr-accent: hsl(27, 90%, 50%);
    --clr-accent-light: hsl(27, 90%, 57%);
    --clr-black: hsl(0, 0%, 15%);
    --clr-white: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background-color: var(--clr-white);
}

/* transition */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1000ms;
}

.show {
    opacity: 1;
    filter: none;
    transform: translateX(0%);
}

.hidden:nth-child(1) {
    transition-delay: 150ms;
}
.hidden:nth-child(2) {
    transition-delay: 250ms;
}
.hidden:nth-child(3) {
    transition-delay: 350ms;
}
.hidden:nth-child(4) {
    transition-delay: 400ms;
}
.hidden:nth-child(5) {
    transition-delay: 1250ms;
}

.three--col__item:nth-child(1) {
    transition-delay: 150ms;
}
.three--col__item:nth-child(2) {
    transition-delay: 250ms;
} 
.three--col__item:nth-child(3) {
    transition-delay: 500ms;
}

/*  */

.home-container {
    background: url("images/background-desktopv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    /* padding-bottom: 10em ; */
    margin-bottom: 10em; 

    /* background: linear-gradient(90deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.8) 100%); */
}
.filter-container {
    height: 100%;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 75%, hsla(0, 0%, 98%) 100%);
}

/* .filter-container {
    background-color: aqua;
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 35%, rgba(255,0,255,0.8) 100%);
} */

img {
    max-width: 100%;
    /* max-height: 100%; */
}

ul, ol {
    padding: 0;
}

.main--container {
    width: 60%;
    max-width: 600px;
    padding-left: 5em;
    /* padding-top: 2em; */
}

.background-img {
    position: absolute;
    inset: 0;

    z-index: -1;

    filter: contrast(0.7);

    height: 100vh;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;

    padding: 3em 5em 0 5em;
}

.logo {
    width: 54px;
    height: 54px;
}

.nav--list {
    display: flex;
    gap: 2.25em;
}

.nav--list__item a {
    display: flex;
    color: var(--clr-black);
}
.nav--list__item a:hover {
    color: var(--clr-accent);
}
.dropdown {
    display: none;
    position: absolute;
}
.dropdown li {
    /* background-color: rgba(255, 255, 255, 0.2); */
    text-shadow: 1px 1px 3px white;
    padding-block: 0.2em;
}
.dropdown li a:hover {
    color: var(--clr-accent);
}
.drop:hover .dropdown{
    display: block;
    /* box-shadow: 1px 1px 5px white; */
}

.main--title {
    font-size: 64px;
    line-height: 56px;

    color: hsl(0, 0%, 15%);

    /* margin-bottom: 90px; */
}
.main--title:nth-child(1) {
    margin-bottom: 0;
}
.main--title:nth-child(2) {
    margin-top: 0;
}

.main--title span {
    color: var(--clr-accent);
}

.main--slogan {
    margin-bottom: 0.25em;
    font-weight: 500;

    line-height: 26px;
}
.main--info {
    margin-top: 0;
    font-weight: 500;
    line-height: 28px;

    margin-bottom: 0;
    width: 90%;
}
.main--info span {
    color: var(--clr-accent);
    font-weight: 700;
}

.main--btn {
    background-color: var(--clr-accent);
    width: max-content;
    padding: 0.25em 1.75em;
    margin-top: 2em;

    border-radius: 50vh;

}
.main--btn p {
    margin: 0;
    color: black;
    /* font-weight: 600; */
}
.main--btn:hover {
    background-color: var(--clr-accent-light);
}

/* FIND OUT */

.info--container {
    width: 77%;
    /* max-width: 700px; */
    margin: 0 auto;
}

.info--title {
    font-size: 34px;
    text-align: center;
    color: var(--clr-accent);

    padding-bottom: 3em;
}

.find-out--info {
    /* width: 60%; */
    text-align: center;
    line-height: 34px;

    margin-bottom: 3em;
}

.three--col__section {
    /* margin-top: 5em; */
    padding-block: 3em;

    background-color: white;
    /* background: linear-gradient(to top, hsla(0, 0%, 100%, 100%) 85%, hsla(0, 0%, 98%) 100%); */

}
.three--col__section h2 {
    text-align: center;
    color: var(--clr-accent);

    margin-bottom: 2em;
    padding-top: 1.5em;
    font-weight: 600;

    border-top: 1px solid var(--clr-black);
}

.three--col {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--clr-black);
    padding-bottom: 1.5em;
}
.three--col > * {
    flex-basis: 100%;
}

.three--col__item {
    text-align: center;
}
.three--col__item h3 {
    color: var(--clr-accent);
    font-size: 18px;
    font-weight: 500;
}

/* FOOTER */

footer {
    background-color: hsl(0, 0%, 10%);
    color: var(--clr-white);

    padding-block: 6em;
}

.footer--container {
    width: 77%;
    margin: 0 auto;
}

.footer--flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 2em;
}

.footer--services__item a,
.footer--contact__item a {
    color: var(--clr-white);
}

.footer--services__item,
.footer--contact__item {
    padding-bottom: 0.75em;

    /* transition: 200ms color; */
}

.footer--services__item a:hover {
    color: var(--clr-accent);
    transition: 100ms color;
}

.footer--contact p {
    margin: 0;
}

.footer--contact__item:nth-child(1) {
    padding: 0; /* inace viska paddinga ispod "kontakt" */
}

.footer--banner span {
    color: var(--clr-accent);
}